<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_head(title,links,styles)">
	<meta charset="utf-8">
	<title th:text="${title}"></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link th:href="@{/favicon.ico}" rel="icon" type="image/x-icon">
	<!-- Fonts -->
	<link rel="stylesheet" type="text/css"  th:href="@{/common/css/googlefont/fonts.css}">
	<!-- CSS Libs -->
	<link rel="stylesheet" type="text/css"  th:href="@{/flat-admin/lib/css/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/flat-admin/lib/css/font-awesome.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/flat-admin/lib/css/animate.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/flat-admin/lib/css/bootstrap-switch.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/flat-admin/lib/css/checkbox3.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/flat-admin/lib/css/jquery.dataTables.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/flat-admin/lib/css/dataTables.bootstrap.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/flat-admin/lib/css/select2.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/flat-admin/css/themes/flat-blue.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/flat-admin/css/style.css}">
	<link rel="stylesheet" type="text/css"  th:href="@{/plugins/bootstrap-table/bootstrap-table.css}">
	<link rel="stylesheet" type="text/css"  th:href="@{/plugins/bootstrap-dialog/bootstrap-dialog.css}">
	<link rel="stylesheet" type="text/css"  th:href="@{/plugins/bootstrap-validator/bootstrapValidator.min.css}">
	<link rel="stylesheet" type="text/css"  th:href="@{/plugins/bootstrap-select/bootstrap-select.min.css}">
	<link rel="stylesheet" type="text/css"  th:href="@{/plugins/jquery-message/message.css}">
	<link rel="stylesheet" type="text/css"  th:href="@{/plugins/zTree_v3/css/metroStyle/metroStyle-extend.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/common/css/common.css}">
	<link rel="stylesheet" type="text/css"  th:href="@{/common/css/iconfont/iconfont.css}">
	<!--/* Per-page placeholder for additional links */-->
    <th:block th:replace="${links}" />
    <!--/* Per-page placeholder for additional styles */-->
    <th:block th:replace="${styles}" />
    
    <script type="text/javascript" th:src="@{/flat-admin/lib/js/jquery.min.js}"></script>
    <script th:inline="javascript">
		/*<![CDATA[*/
		var contextPath = /*[[${#httpServletRequest.contextPath}]]*/;
		/*]]>*/
	</script>
</head>