<nav class="navbar navbar-default navbar-fixed-top navbar-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-expand-toggle">
				<i class="fa fa-bars icon"></i>
			</button>
			<ol class="breadcrumb navbar-breadcrumb" id="activeMenu">

			</ol>
			<button type="button"
				class="navbar-right-expand-toggle pull-right visible-xs">
				<i class="fa fa-th icon"></i>
			</button>
		</div>
		<ul class="nav navbar-nav navbar-right">
			<button type="button"
				class="navbar-right-expand-toggle pull-right visible-xs">
				<i class="fa fa-times icon"></i>
			</button>
			<li class="dropdown"><a href="#" class="dropdown-toggle"
				data-toggle="dropdown" role="button" aria-expanded="false"><i
					class="fa fa-comments-o"></i></a>
				<ul class="dropdown-menu animated fadeInDown">
					<li class="title">Notification <span class="badge pull-right">0</span>
					</li>
					<li class="message">No new notification</li>
				</ul></li>
			<li class="dropdown danger"><a href="#" class="dropdown-toggle"
				data-toggle="dropdown" role="button" aria-expanded="false"><i
					class="fa fa-star-half-o"></i> 4</a>
				<ul class="dropdown-menu danger  animated fadeInDown">
					<li class="title">Notification <span class="badge pull-right">4</span>
					</li>
					<li>
						<ul class="list-group notifications">
							<a href="#">
								<li class="list-group-item"><span class="badge">1</span> <i
									class="fa fa-exclamation-circle icon"></i> new registration</li>
							</a>
							<a href="#">
								<li class="list-group-item"><span class="badge success">1</span>
									<i class="fa fa-check icon"></i> new orders</li>
							</a>
							<a href="#">
								<li class="list-group-item"><span class="badge danger">2</span>
									<i class="fa fa-comments icon"></i> customers messages</li>
							</a>
							<a href="#">
								<li class="list-group-item message">view all</li>
							</a>
						</ul>
					</li>
				</ul></li>
			<li class="dropdown profile"><a href="#" class="dropdown-toggle"
				data-toggle="dropdown" role="button" aria-expanded="false" style="">
					<img alt=""
					th:src="@{${null == session.sessionUser.vcPhoto ? (session.sessionUser.cGender == '0' ? '/common/images/touxiang-nan.jpg' : '/common/images/touxiang-nv.jpg') : session.sessionUser.vcPhoto}}"
					width="40" height="40"
					style="display: inline-block; vertical-align: middle; border-radius: 50%;">
					<shiro:principal property="vcUserName" /> <span class="caret"></span>
			</a>
				<ul class="dropdown-menu animated fadeInDown" style="min-width: 0px;width: 157px;border: 1px solid #EEE;">
					<li>
						<ul class="list-group notifications">
							<a href="javascript:profile();">
								<li class="list-group-item" style="min-width: 0px;">个人信息</li>
							</a>
							<a href="javascript:modifyPwd();">
								<li class="list-group-item" style="min-width: 0px;">修改密码</li>
							</a>
							<a href="javascript:logout();">
								<li class="list-group-item" style="min-width: 0px;">安全退出</li>
							</a>
						</ul>
					</li>
				</ul></li>
		</ul>
	</div>
	<script type="text/javascript">
		function logout() {
			window.location.href = contextPath + "/logout";
		}
		function profile(){
			setTopActiveMeunTitle(null,'个人信息');
			//跳转页面
			viewPage('/profile','个人信息',null,null);
		}
		function modifyPwd(){
			setTopActiveMeunTitle(null,'修改密码');
			//跳转页面
			viewPage('/profile/modifyPwd','修改密码',null,null);
		}
	</script>
</nav>