<form class="form-horizontal" id="roleForm" style="padding: 0px 70px;">
	<div class="form-group">
		<label for="vcCode" class="col-sm-3 control-label">角色编码</label>
		<div class="col-sm-9">
			<input type="text" class="form-control" id="vcCode" name="vcCode" placeholder="请输入角色编码">
		</div>
	</div>
	<div class="form-group">
		<label for="vcName" class="col-sm-3 control-label">角色名称</label>
		<div class="col-sm-9">
			<input type="text" class="form-control" id="vcName" name="vcName" placeholder="请输入角色名称">
		</div>
	</div>
</form>
