<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.zylsite.cheetah.backstage.mapper.DictionaryTypeMapper">
  <resultMap id="BaseResultMap" type="top.zylsite.cheetah.backstage.model.DictionaryType">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="vc_code" jdbcType="VARCHAR" property="vcCode" />
    <result column="vc_name" jdbcType="VARCHAR" property="vcName" />
    <result column="vc_description" jdbcType="VARCHAR" property="vcDescription" />
  </resultMap>
</mapper>