<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.zylsite.cheetah.backstage.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="top.zylsite.cheetah.backstage.model.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="vc_user_name" jdbcType="VARCHAR" property="vcUserName" />
    <result column="vc_password" jdbcType="VARCHAR" property="vcPassword" />
    <result column="vc_real_name" jdbcType="VARCHAR" property="vcRealName" />
    <result column="vc_mobile" jdbcType="VARCHAR" property="vcMobile" />
    <result column="vc_email" jdbcType="VARCHAR" property="vcEmail" />
    <result column="c_status" jdbcType="CHAR" property="cStatus" />
    <result column="c_lock_status" jdbcType="CHAR" property="cLockStatus" />
  </resultMap>
</mapper>