/*浏览器滚动条样式设置*/
::-webkit-scrollbar-track-piece {
	background-color: #f8f8f8;
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-thumb {
	background-color: #dddddd;
	background-clip: padding-box;
	min-height: 28px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #bbb;
}

.search-condition-container {
	margin-top: 5px;
}

.search-condition-container .form-inline .form-group {
	padding: 0px 5px 0px 5px;
}

/*包裹table的panel*/
.main-panel {
	height: 100%;
}

.main-panel-head {
	min-height: 38px;
	height: 38px;
}

.main-panel-body {
	padding: 0px;
	height: calc(100% - 38px);
}

/*bootstrap-table样式设置*/
.fixed-table-container {
	position: relative;
	clear: both;
	border-top: 1px solid #dddddd;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 0px;
	border-radius: 0px;
}

.fixed-table-toolbar .bs-bars, .fixed-table-toolbar .search,
	.fixed-table-toolbar .columns {
	position: relative;
	margin-top: 5px;
	margin-bottom: 0px;
	line-height: 34px;
}

/*表格中的button取消margin*/
.table .btn {
	margin: 0px;
}

.app-container .side-body {
    margin-left: 60px;
}
.app-container .expanded .side-body {
    margin-left: 260px;
}
