.oauth-wrapper {
	margin: auto;
	text-align: left;
	margin-top: 20px;
	font-size: 0;
	border-top: 1px dashed #e0e0e0;
	padding-top: 15px;
	position: relative;
	cursor: pointer;
	margin-bottom: -15px;
}

.oauth-wrapper .oauth-icon {
	margin-right: 14px;
	margin-bottom: 5px;
	width: 26px;
	height: 26px;
	display: block;
	float: left;
	border-radius: 13px;
}

.oauth-wrapper .register {
	float: right;
	font-size: 16px;
	line-height: 26px;
	margin-bottom: 5px;
}

.oauth-wrapper .oauth-icon.oauth-icon-qq {
	background: url(../images/qq-logo.png) no-repeat center;
	background-size: 26px;
}

.oauth-wrapper .oauth-icon.oauth-icon-wx {
	background: url(../images/wechat-logo.png) no-repeat center;
	background-size: 26px;
}

.oauth-wrapper .oauth-icon.oauth-icon-weibo {
	background: url(../images/sina-logo.png) no-repeat center;
	background-size: 26px;
}

.oauth-wrapper .oauth-icon.oauth-icon-alipay {
	background: url(../images/alipay-logo.png) no-repeat center;
	background-size: 26px;
}

.oauth-wrapper .oauth-icon.oauth-icon-baidu {
	background: url(../images/baidu-logo.png) no-repeat center;
	background-size: 26px;
}

.oauth-wrapper .oauth-icon.oauth-icon-github {
	background: url(../images/github-logo.png) no-repeat center;
	background-size: 26px;
}

.oauth-wrapper .oauth-icon.oauth-icon-dingding {
	background: url(../images/dingding-logo.jpg) no-repeat center;
	background-size: 26px;
}

.input-wrapper {
    margin: auto;
    text-align: left;
    margin-top: 15px;
    white-space: nowrap;
    vertical-align: top;
    font-size: 14px;
    background: #fff;
}

.input-wrapper .auto-login {
    display: inline-block;
    text-align: left;
    width: 50%;
}

.input-wrapper .forgot-password {
    display: inline-block;
    text-align: right;
    width: 50%;
}

.input-wrapper label input[type=checkbox] {
    margin-right: 7px;
}

.input-wrapper .forgot-password a {
    color: #666;
}

.input-wrapper label {
    color: #666;
}

.clearfix {
	clear: both;
}