<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:replace="common/common_head :: common_head(#{system.name},~{},~{})">
</head>
<body class="flat-blue" style="height: 100%; overflow: hidden;">
    <div id="indexContainer" class="app-container" style="height: 100%;padding-bottom: 0px;">
        <div class="row content-container" style="height: 100%;">
            <div th:replace="common/top_nav"></div>
            <div th:replace="common/side_menu"></div>
            <!-- Main Content -->
            <div class="container-fluid" style="height: 100%;padding-right: 0px;padding-left: 0px;">
                <div id="mainFrame"  class="side-body" style="height: calc(100% - 30px);overflow:hidden;margin-top:60px;padding: 0px;margin-right: 0px;">
                    <iframe src="" frameborder="0" scrolling="auto" style="height: 100%;width: 100%;"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="common/common_foot :: common_foot(~{::script})">
	      <script type="text/javascript" th:src="@{/common/js/app.js}"></script>
	      <script type="text/javascript" th:src="@{/common/js/navigation.js}"></script>
	      <script type="text/javascript" th:src="@{/common/js/index.js}"></script>
     </div>
</body>
</html>
