<ul id="sideDepartmentTree" class="ztree" style="height: 100%;"></ul>
<script type="text/javascript">
    var sideDepartmentTreeId = 'sideDepartmentTree';
	var setting2 = {
			async: {
				enable: true,
				url: getUrl,
				type:'get',
				dataFilter: ajaxDataFilter,
				dataType: 'json'
			},
			check: {
				enable: false
			},
			data: {
				simpleData: {
					enable: true
				}
			},
			view: {
				expandSpeed: ""
			},
			callback: {
				beforeExpand: beforeExpand,
				onAsyncSuccess: onAsyncSuccess,
				onAsyncError: onAsyncError,
				onClick: onClickCallBack
			}
		};
		function getUrl(treeId, treeNode) {
			return contextPath + '/department/queryByParentId?parentId=' + (undefined ==  treeNode ? 0 : treeNode.id);
		}
		function beforeExpand(treeId, treeNode) {
			if (!treeNode.isAjaxing) {
				startTime = new Date();
				treeNode.times = 1;
				ajaxGetNodes(treeNode, "refresh");
				return true;
			} else {
				return false;
			}
		}
		function onAsyncSuccess(event, treeId, treeNode, msg) {
			if (msg.status !=1 || msg.data.length <= 0) {
				return;
			}
			var zTree = $.fn.zTree.getZTreeObj(treeId);
			treeNode.icon = "";
			zTree.updateNode(treeNode);
			zTree.selectNode(treeNode.children[0]);
		}
		function onAsyncError(event, treeId, treeNode, XMLHttpRequest, textStatus, errorThrown) {
			var zTree = getSideDepartmentTree();
			treeNode.icon = "";
			zTree.updateNode(treeNode);
			showError("部门["+treeNode.name+"]的子部门加载失败");
		}
		function ajaxGetNodes(treeNode, reloadType) {
			var zTree = getSideDepartmentTree();
			if (reloadType == "refresh") {
				treeNode.icon = contextPath + "/plugins/zTree_v3/css/zTreeStyle/img/loading.gif";
				zTree.updateNode(treeNode);
			}
			zTree.reAsyncChildNodes(treeNode, reloadType, true);
		}
		function ajaxDataFilter(treeId, parentNode, responseData) {
		    if (responseData && responseData.status == 1) {
		      return responseData.data;
		    }
		    return [];
		};
    function onClickCallBack(event, treeId, treeNode){
    	$('#searchForm').find('#pid').val(treeNode.id);
		btnSearch();
    }
	function renderDepartmentTree2(){
		var url = '/department/queryByParentId';
		asyncAjax(url,null,null,
			function(result){
				if(result.status == 1){
					var data = result.data;
					$.fn.zTree.init($("#"+sideDepartmentTreeId), setting2, data);
				}else{
					showError('部门加载失败');
				}
			},
			function(res){
				showError('服务器异常');
			}
		)
	}
	//刷新权限树（重新加载）
	function refreshPermissionTree(){
		var zTreeObj = getSideDepartmentTree();
		zTreeObj.destroy();
		renderDepartmentTree2();
	}
	function getSideDepartmentTree(){
		return $.fn.zTree.getZTreeObj(sideDepartmentTreeId);
	}
	$(document).ready(function(){
		renderDepartmentTree2();
	});
</script>
