<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.zylsite.cheetah.backstage.mapper.master.DataDictionaryMapper">
  <resultMap id="BaseResultMap" type="top.zylsite.cheetah.backstage.model.master.DataDictionary">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="c_dict_entry" jdbcType="CHAR" property="cDictEntry" />
    <result column="vc_entry_name" jdbcType="VARCHAR" property="vcEntryName" />
    <result column="l_dict_type" jdbcType="INTEGER" property="lDictType" />
    <result column="l_sort" jdbcType="INTEGER" property="lSort" />
  </resultMap>
</mapper>