<form class="form-horizontal" id="dictionaryTypeForm"
	style="padding: 0px 70px;">
	<div class="form-group">
		<label for="vcCode" class="col-sm-3 control-label">类型编码</label>
		<div class="col-sm-9">
			<input type="text" class="form-control" id="vcCode" name="vcCode">
		</div>
	</div>
	<div class="form-group">
		<label for="vcName" class="col-sm-3 control-label">类型名称</label>
		<div class="col-sm-9">
			<input type="text" class="form-control" id="vcName" name="vcName">
		</div>
	</div>
	<div class="form-group">
		<label for="vcDescription" class="col-sm-3 control-label">类型描述</label>
		<div class="col-sm-9">
			<textarea class="form-control" id="vcDescription"
				name="vcDescription" style="height: 100px;"></textarea>
		</div>
	</div>
</form>
