<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head
	th:replace="common/common_head :: common_head(#{system.name},~{},~{})">
</head>
<body class="flat-blue body-container">
	<div class="panel panel-default" style="margin: -15px;">
		<div class="panel-heading">
			<form id="typeDataSearchForm" class="form-inline" role="form">
				<input type="hidden" id="lDictType" name="lDictType"
					th:value="${lDictType}">
				<div class="form-group">
					<label for="cDictEntry" class="control-label">字典编码</label> <input
						type="text" class="form-control" id="cDictEntry" name="cDictEntry"
						placeholder="请输入字典编码">
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 ">
						<button class="btn btn-success"
							onclick="btnSearch();return false;">
							<span th:text="#{query}"></span>
						</button>
					</div>
				</div>
			</form>
		</div>
		<table id="typeDataTable"
			class="table table-striped table-hover table-condensed"></table>
	</div>

	<div th:replace="common/common_foot :: common_foot(~{::script})">
		<script type="text/javascript"
			th:src="@{/page/dictionary/js/typeDataDetail.js}"></script>
	</div>
</body>
</html>
