<form id="selectParentDepartmentForm" class="form-horizontal" role="form">
	<div th:id="${treeId}"  class="ztree"></div>
	<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    var departmentId =  /*[[${departmentId}]]*/;
    var treeId = /*[[${treeId}]]*/;
    var async = /*[[${async}]]*/;
    var chkStyle = /*[[${chkStyle}]]*/;
    var onClickCallBack = /*[[${onClickCallBack}]]*/;
    /*]]>*/
	var setting = {};
    //判断是不是异步加载
    if(null != async && async == true){
    	var async =  {
			enable: true,
			url: getUrl,
			type:'get',
			dataFilter: ajaxDataFilter,
			dataType: 'json'
		};
    	setting.async = async;
    }
    //判断是不是可以进行多选或单选
    if(chkStyle){
    	var check = {
			enable: true,
			chkStyle: chkStyle,
			radioType: "all"
		};
		setting.check = check;
    }
    var callback = {};
    //设置节点单击事件
    if(onClickCallBack){
    	callback.onClick = onClickCallBack;	
    }
    //选中之前的事件
    if(chkStyle && chkStyle == 'radio'){
		callback.beforeCheck = onBeforeCheck;
	}
    setting.callback = callback;
    
    
    function onBeforeCheck(treeId, treeNode){
    	return true;
    }
	function renderDepartmentTree(){
		var url = '/department/tree';
		if(departmentId){
			url += '?departmentId='+departmentId;
		}
		asyncAjax(url,null,null,
			function(result){
				if(result.status == 1){
					var data = result.data;
					$.fn.zTree.init($("#"+treeId), setting, data);
					expandAll();
				}else{
					showError('部门加载失败');
				}
			},
			function(res){
				showError('服务器异常');
			}
		)
	}
	//展开所有节点
	function expandAll(){
		var treeObj = $.fn.zTree.getZTreeObj(treeId);
		treeObj.expandAll(true);
	}
	$(document).ready(function(){
		renderDepartmentTree();
	});
</script>  
</form>
