<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:replace="common/common_head :: common_head(#{system.name},~{::link},~{})">
    <!-- CSS App -->
    <link rel="stylesheet" type="text/css" th:href="@{/flat-admin/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/flat-admin/css/themes/flat-blue.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/common/css/login.css}">
</head>
<body class="flat-blue login-page" th:style="'background: url(' + @{/flat-admin/img/app-header-bg.jpg} + ') no-repeat center center fixed;'">
    <div class="container">
        <div class="login-box">
            <div>
                <div class="login-form row">
                    <div class="col-sm-12 text-center login-header">
                        <i class="login-logo fa fa-connectdevelop fa-5x"></i>
                        <h4 class="login-title">绑定用户</h4>
                    </div>
                    <div class="col-sm-12">
                        <div class="login-body">
                            <form th:action="@{/login/bindAccount}" name="bindForm" id="bindForm" method="post">
                                 <input type="hidden" id="accountId" name="accountId" th:value="${accountId}">
                                 <input type="hidden" id="loginType" name="loginType" th:value="${loginType}">
                                <div class="control">
                                    <input type="text" class="form-control" id="username" name="username"  placeholder="请输入用户名" autocomplete="off" required/>
                                </div>
                                <div class="control">
                                    <input type="password" class="form-control" id="password" name="password"  placeholder="请输入密码" autocomplete="off" required/>
                                </div>
                                <div id="error" class="hide_error" style="text-align: center;color: red;">
									<span></span>
								</div>
                                <div class="login-button text-center">
                                    <button class="btn btn-primary" onclick="loginAndBind();" style="width: 100%;">登录并绑定</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="common/common_foot :: common_foot(~{::script})">
	      <script type="text/javascript" th:src="@{/page/login/js/bindInfo.js}"></script>
	      <script th:inline="javascript">
		        /*<![CDATA[*/
		        var error_message = /*[[${error_message}]]*/;
		        /*]]>*/
		    </script>
     </div>
</body>
</html>